doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Flash Card
    link(rel="stylesheet", href="/static/stylesheets/style.css")
  body
    include includes/header.pug
    block content
    include includes/footer.pug